@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
    font-family: 'KaisoNextB';
    src: url('/fonts/Kaiso-Next-B.otf') format('opentype');
}

/** {
    font-family: 'Noto Sans Japanese', sans-serif';
}*/

h1 {
    font-family: "KaisoNextB";
}

.container p,
.container ul li {
    font-family: 'serif, sans-serif';
}
